{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Thank you for registration" %}</title>
</head>
<body>
    <center><img src="{% static "logo.png" %}" alt="lmc-logo" width="128"></center>
    <center>
        <h1>Ligne Maritimes Congolaise</h1>
        <h3>{% trans "Armement National" %}</h3>
        <hr>
    </center>
    <h4>{% trans "Hello" %}!</h4>
    <p>
        {% trans "You are about to start a new journey for your company" %}!
        <br />
        {% trans "A confirmation e-mail with authentication information will be send to you once we validate your company information." %}!
        <br />
    </p>
    <br>
    <p>{% trans "Cordially" %}</p>
    <p>LMC Service.</p>
</body>
</html>