{% extends 'base.html' %}

{% load i18n %}
{% load core %}
{% load crispy_forms_tags %}


{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js" integrity="sha512-Tsdobfrx6IMRPi8d5z3AtjWNSbZxGm58IZFnblaRaepw562ZITlRhUM2Zu87vbvZjQxGmmto+31zEBLZ4wjs+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <div style="z-index: -1; position: fixed; color: grey;opacity: 0.1;">
        <h1 style="font-size: 10rem;">{{ model|getattr:'_meta'|getattr:'verbose_name' }}</h1>
    </div>

    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div>
                <h1 class="h2 text-capitalize mb-0">
                    {{ model|getattr:'_meta'|getattr:'verbose_name' }} #{{ obj.id }}
                    {% if obj.status %}
                        <span class="badge badge-{{ obj.status|displaystatus }}">{{ obj.status }}</span>
                    {% endif %}
                </h1>
                <small>
                    {% with model|getattr:'_meta'|getattr:'model_name' as model_name %}
                        {% with app|stringbuilder:".delete_"|stringbuilder:model_name as perm %}
                            {% if perm in perms %}
                                <a href="{% url 'core:list' app model|getattr:'_meta'|getattr:'model_name' %}" class="text-capitalize">{{ model|getattr:'_meta'|getattr:'verbose_name_plural' }}</a> /
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                    {{ obj.id }}
                </small>
            </div>

        <form id="submit-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="status" value="SUBMITTED">
        </form>

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">

                    {% with model|getattr:'_meta'|getattr:'model_name' as model_name %}
                        {% with app|stringbuilder:".delete_"|stringbuilder:model_name as perm %}
                            {% if perm in perms %}
                                <a href="{% url 'core:delete' app model_name obj.id %}" class="btn btn-sm btn-outline-danger">{% trans 'Delete' %}</a>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}

                    {% for action in model.change_actions %}
                      {% if action.permission in perms and obj|attrmatch:action.limitation and action.method == "GET" and action.condition|eval:request %}
                          <a href="{{ action.url }}?id={{ obj.id }}" class="btn btn-sm btn-outline-primary">{{ action.verbose_name }}</a>
                      {% endif %}
                    {% endfor %}

                <button class="btn btn-sm btn-outline-success" type="submit" form="form-container">{% trans 'Save' %}</button>
              </div>

                {% for action in model.change_actions %}
                  {% if action.permission in perms and obj|attrmatch:action.limitation and action.method == "POST" and action.condition|eval:request %}
                      <form action="{{ action.url }}?id={{ pk }}" id="form-{{ action.verbose_name }}" method="{{ action.method }}">
                        {% csrf_token %}
                        {% for key, value in action.values.items %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-sm btn-outline-primary">{{ action.verbose_name }}</button>
                      </form>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mb-5">
        <form method="post" id="form-container" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_form_errors }}

            {% if form.fields|length > 4 %}
             <div class="form-row">
                {% for field in form %}
                    <div {% if field.field.widget.input_type != 'hidden' %}class="col-md-4"{% endif %}>
                        {{ field|as_crispy_field }}
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div>
                    {{ form|crispy }}
                </div>
            {% endif %}

            {% if inline %}
                <hr class="mt-3 mb-5">
                <h5 class="text-info">{{ inline.0|getattr:'_meta'|getattr:'verbose_name' }}(s)</h5>
                {{ inlineformset.non_form_errors }}
                {{ inlineformset.management_form }}

                {% for form in inlineformset %}
                    <div class="formset_row">
                        {% if form.instance %}
                            <h2>#{{ form.instance.id }}</h2>
                        {% endif %}
                        <div class="d-flex py-1 inline {{ inlineformset.prefix }}">
                            <div class="form-row">
                                {% for field in form %}
                                    <div {% if field.field.widget.input_type != 'hidden' %}class="col-md-3"{% endif %}>
                                        {{ field|as_crispy_field }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            {% endif %}
        </form>
    </div>

    <script type="text/javascript">
        $('.formset_row').formset({addText: "Add", deleteText: 'remove', prefix: '{{ inlineformset.prefix }}'});
    </script>

{% endblock content %}