{% load core %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM #{{ obj.id }}</title>
    <style>
        html, body{
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-family: arial, sans-serif;
            font-size: 18px;
        }
        .img-thumbnail{
            width: 128px;
        }
        dt{
            font-size: 12px;
            font-weight: 600;
        }
        dd{
            margin-bottom: 0px;
        }
        {% if obj.status == "COMPLETED" %}
        .bg {
            background-image: url("https://lmc-storage.fra1.digitaloceanspaces.com/drc-arm.png");
            background-position: center;
            background-repeat: round;
            position: absolute;
            width: 100%; 
            height: 100%;
            z-index: -1;
        }
        {% endif %}
        .break-page{
            page-break-after: always;
        }
        .full-width{
            width: 100% !important;
        }
        .half-width{
            width: 50% !important; 
        }
        .text-left{
            text-align: left !important;
        }
        .text-right{
            text-align: right !important;
        }

        dl {
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0
        }
        dt {
            float: left;
            text-align: right;
            font-weight: bold;
            width: 50%;
            padding: 0;
            margin: 0
        }
        dd {
            float: left;
            text-align: right;
            width: 50%;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
        }
        .card{
            background-color: #212529 !important;
            color: white !important;
            padding: 1.5%;
        }
        .text-uppercase{
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    {% for product in qs %}

    {% if obj.status == "COMPLETED" %}
    <div class="bg"></div>
    {% endif %}
    
    <div class="main full-width break-page">
        <table class="full-width">
            <tr>
                <td class="text-left half-width">
                    <table class="full-width">
                        <tr>
                            <td class="text-right" width="128">
                                <img width="128" src="{% static "image/logo.png" %}" alt="lmc-logo">
                            </td>
                            <td class="text-left">
                                <h5 style="font-size: 1.5rem;margin-bottom: 0px;">LMC</h5>
                                <small>13 Avenue des Aviateurs, Commune de la Gombe, Kinshasa RDC B.P. 8038</small>
                                <p>RCCM: CD/RCCM/14-B-3622 <br>
                                ID. NAT: 01-715-A06030E <br>
                                N°IMPOT : A0700620H</p>
                                <h5 style="font-size: 1.1rem;margin-top: 0px;">N°{{ obj.id }}/{{ product.id }}</h5>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="text-right half-width">
                    <table class="full-width text-right">
                        <tr>
                            <td style="width: 80%" class="text-right">
                                <h5 style="font-size: 2.5rem;margin-bottom: 0px;">ATM</h5>
                                <small style="margin-top: 0px;">Attestation de Transit Maritime</small>
                                <dl class="row small-text">
                                    <dt style="width: 20%">N°</dt>
                                    <dd style="width: 80%">{% if obj.status == "COMPLETED" %}
                                        {% now "Y" %}-{% if obj.operation_type == "Importation" %}IMP{% elif obj.operation_type == "Exportation" %}EXP{% endif %}-{% now "m" %}0-{{ obj.id }}{% else %}<span class="text-warning">#000000</span>
                                        {% endif %}
                                    </dd>

                                    {% if obj.operation_type == "IMPORTATION" %}
                                    <dt style="width: 20%">Ref. Lot</dt>
                                    <dd style="width: 80%">{{ product.ref|default:"0000000000" }}</dd>

                                    <dt style="width: 20%">Truck N°</dt>
                                    <dd style="width: 80%">{{ product.truck|default:"0000000000" }}</dd>
                                    {% endif %}
                                </dl>
                            </td>
                            <td style="width: 20%" class="text-right">
                                <img width="128" src="{% static "image/drc.svg" %}" alt="drc-flag">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div class="full-width" style="background-color: #212529 !important;color: white;padding: 7.5px;">
            <table>
                {% if obj.operation_type == "Importation" %}
                <tr>
                    <td class="text-right" style="margin-left: 10px !important;font-weight: bold !important;">
                        SHIPPING LINE : <br>
                        <small class="fst-italic">Armateur</small>
                    </td>
                    <td style="margin-left: 10px !important;">
                        {{ obj.company.name }}
                        <br>
                        {{ obj.company.address|title }}, {{ obj.company.city|title }}, {{ obj.company.country|title }}
                        <br> TEL : +243990580000
                        <br> EMAIL: contact@lmc.cd
                    </td>
                </tr>
                {% endif %}

                {% if obj.operation_type == "Exportation" %}
                <tr>
                    <td class="text-right" style="margin-left: 10px !important;font-weight: bold !important;width: 30%;">
                        EXPORTATEUR: <br>
                        <small>Forwarder</small>
                    </td>
                    <td style="width: 70%;">
                        <b>{{ obj.company.name }}</b>
                        / {{ obj.importer_expoter|default:"-" }}
                        <br>
                        {{ obj.company.address|title }}, {{ obj.company.city|title }}, {{ obj.company.country.name }}
                        TEL : +243990580000
                        EMAIL: contact@lmc.cd
                    </td>
                </tr>
                {% endif %}

            </table>
        </div>

        <table class="full-width" style="margin-top: 0% !important;">
            <tr class="half-width">
                <td>
                    <dl>
                        <dt>{% if obj.operation_type == "Exportation" %}
                            BP
                          {% else %}
                            MANIFEST
                          {% endif %} N° : </dt>
                        
                        <dd>{{ obj.manifest_bp_no|default:"-" }}</dd>
        
                        {% if obj.exit_point %}
                        <dt>BORDER CROSSING :</dt>
                        <dd>{{ obj.exit_point.name }}</dd>
                        {% endif %}

                        {% if obj.ship_name %}
                        <dt>VESSEL NAME :</dt>
                        <dd>{{ obj.ship_name|default:"-" }}</dd>
                        {% endif %}

                        {% if obj.trip_nber %}
                        <dt>VOYAGE N° :</dt>
                        <dd>{{ obj.trip_nber|default:"-" }}</dd>
                        {% endif %}
        
                        {% if obj.departure %}
                        <dt>E.T.D : </dt>
                        <dd>{{ obj.departure|default:"-" }}</dd>
                        {% endif %}

                        {% if product.ref %}
                        <dt>Ref.Lot : </dt>
                        <dd>{{ product.ref|default:"-" }}</dd>
                        {% endif %}

                        {% if product.truck %}
                        <dt>Truck : </dt>
                        <dd>{{ product.truck|default:"-" }}</dd>
                        {% endif %}
                    </dl>
                </td>
                <td class="half-width">
                    <dl>
                        {% if obj.load_point %}
                        <dt>LOADING PORT :</dt>
                        <dd>{{ obj.load_point.name }}</dd>
                        {% endif %}

                        {% if obj.unload_point %}
                        <dt>PORT OF DISCHARGE :</dt>
                        <dd>{{ obj.unload_point.name|default:"-" }}</dd>
                        {% endif %}

                        {% if obj.end_point %}
                        <dt>FINAL DESTINATION :</dt>
                        <dd>{{ obj.end_point|default:"-" }}</dd>
                        {% endif %}

                        {% if obj.arrival %}
                        <dt>E.T.A :</dt>
                        <dd>{{ obj.arrival|default:"-" }}</dd>
                        {% endif %}

                        {% if product.destination %}
                        <dt>Destination : </dt>
                        <dd>{{ product.destination|default:"-" }}</dd>
                        {% endif %}
                    </dl>
                </td>
            </tr>
        </table>

        <div class="full-width" style="background-color: #212529 !important;color: white;padding: 7.5px;">
            <dl class="full-width" style="padding: 1.5%;">
                <dt style="width: 30%">
                    TYPE/MODE OF TRANSPORT <br>
                    <small class="small-text">Type de transport</small>
                </dt>
                <dd class="text-left" style="width: 70%; margin-left: 10px">{{ obj.transport }}</dd>
            </dl>
        </div>

        <div class="full-width" style="background-color: #212529 !important;color: white;padding: 7.5px;">
            <dl class="full-width" style="padding: 1.5%;">
                <dt style="width: 30%">
                    CARGO<br>
                    <small class="small-text">Cargaison</small>
                </dt>
                <dd class="text-left" style="width: 70%; margin-left: 10px">{{ product.product_type.name }} x {{ product.quantity }}({{ product.product_type.unit.abbreviation }})</dd>
            </dl>
        </div>

        <div class="full-width" style="margin-top: 1% !important;border-top: 2px solid black;">
            <table class="full-width">
                <tr>
                    <td style="width: 30%">
                        <b class="text-uppercase" style="margin-bottom: 0px;padding-bottom: 0px;font-size: 11px;">Declared values provided by Shipping Line. ATM to be submitted together with Cargo Manifest at Discharge or Transit Port.</b>
                        <small class="text-muted text-uppercase" style="font-size: 9px;margin-top: 0px;padding-top: 0px;">Valeurs déclarées fournies par la compagnie maritime. ATM à soumettre avec le manifeste de la cargaison au port de déchargement ou de transit.</small>
                    </td>

                    <td style="width: 20%">
                        {% if obj.status == "COMPLETED" %}
                        <div class="col text-start" style="margin-top: 2%;">
                            {% with obj.id|atmQrcode:product.id as qr %}
                                <img width="128" src="{{ qr|safe }}" alt="lmc-qr-code-{{ obj.id }}">
                            {% endwith %}
                        </div>
                        {% endif %}
                    </td>

                    <td class="half-width">
                        <div class="card">
                            <dl style="margin-bottom: 0px;">
                                <dt style="font-size: 16px !important;" class="text-left"><b class="fs-6">VALIDATED BY : <small class="text-muted fs-6"> validee par</small></b></dt>
                                <dd style="font-size: 19px !important;">
                                    {% if obj.status == "COMPLETED" %}
                                        <b class="text-uppercase fs-6">{{ obj.updated_by.custom_office.supervisor|default:"LMC" }}</b>
                                    {% else %}
                                        <b class="text-uppercase fs-6">{{ obj.updated_by.full_name }}</b>
                                    {% endif %}
                                </dd>

                                <dt style="font-size: 16px !important;" class="text-left"><b class="fs-6">STATUS :</b></dt>
                                <dd style="font-size: 19px !important;">
                                    <b>{{ obj.status }}</b>
                                </dd>
                            </dl>
                            <br>
                            <small class="fs-6">ATM Updated, on {{ obj.updated.date }}</small>
                            <small class="fs-6"><b>Expire on <i>{{ obj.updated|addDays:30 }}</i>></b>></small>>

                            <small class="fs-6">Printed, on {% now "SHORT_DATETIME_FORMAT" %}</small>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}

</body>
</html>