{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LMC{% endblock title %}</title>
    <meta name="description" content="{% block description %}LMC Services{% endblock description %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .btn, .form-control, .card{
            border-radius: 2.5px;
        }
        label{
            font-size: 0.75rem;
        }
        .form-group{
            margin-top: 0px;
        }
    </style>
</head>
<body class="bg-dark text-light">
    <div class="container">
    <h1>Operation #{{ checkpoint.operation.id }}</h1>
    <small>Verified by <b class="text-warning">{{ checkpoint.user.get_full_name|default:checkpoint.user.email }}</b> at <i>{{ checkpoint.created }}</i></small>
    <hr>
    <dl class="row">
        <dt class="col-sm-3">{% trans "Operation TYPE" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.operation_type }}</dd>

        <dt class="col-sm-3">{% trans "Transport" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.transport }}</dd>

        <dt class="col-sm-3">{% trans "Company" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.company }}</dd>

        <hr>

        <dt class="col-sm-3">{% trans "Shipowner" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.shipowner }}</dd>

        <dt class="col-sm-3">{% trans "Forwarder" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.forwarder }}</dd>

        <dt class="col-sm-3">{% trans "Ship name" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.ship_name }}</dd>

        <dt class="col-sm-3">Voyage N°</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.trip_nber }}</dd>

        <hr>

        <dt class="col-sm-3">{% trans "Entry point" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.entry_point }}</dd>

        <dt class="col-sm-3">{% trans "Loading point" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.load_point }}</dd>

        <dt class="col-sm-3">{% trans "Discharge point" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.unload_point }}</dd>

        <dt class="col-sm-3">{% trans "Exit point" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.exit_point }}</dd>

        <dt class="col-sm-3">{% trans "Final Destination" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.end_point }}</dd>
        <hr>
        <dt class="col-sm-3">{% trans "Status" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.status }}</dd>
        <hr>
        <dt class="col-sm-3">{% trans "Created" %}</dt>
        <dd class="col-sm-9">{{ checkpoint.operation.created }}</dd>
    </dl>
    <hr>
    <h2>Product/Cargo({{ products|length }})</h2>
    <div class="col">
        <div class="accordion" id="accordionExample">
            {% for product in products %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-{{ product.id }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ product.id }}" aria-expanded="true" aria-controls="collapseOne{{ product.id }}">
                    Product/Cargo #{{ product.id }}
                </button>
                </h2>
                <div id="collapseOne{{ product.id }}" class="accordion-collapse collapse text-dark show" aria-labelledby="headingOne-{{ product.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <dl class="row">
                            {% if operation.operation_type == "Exportation" %}
                            <dt class="col-sm-3">Product's nature</dt>
                            <dd class="col-sm-9">{{ product.name }}</dd>
                            {% endif %}
                            <dt class="col-sm-3">Quantity</dt>
                            <dd class="col-sm-9">{{ product.quantity }} {{ product.product_type.unit.name }}</dd>

                            <dt class="col-sm-3">Ref. Lot</dt>
                            <dd class="col-sm-9">{{ product.ref }}</dd>

                            <dt class="col-sm-3">Truck</dt>
                            <dd class="col-sm-9">{{ product.truck }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<footer>
    <div class="col text-center" style="margin-top: 1rem;margin-bottom: 1rem;">
        {% get_available_languages as LANGUAGES %}
        {% for language in LANGUAGES %}
            <small><a href="#" data-value="{{ language.0 }}" class="lang-btn text-muted" style="text-decoration: none;">{{ language.1 }}</a></small> {% if not forloop.last %}|{% endif %}
        {% endfor %}

        <form id="change_lang_form" action="#" method="post" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="language" id="id_language">
            <input type="submit" value="Go">
        </form>
    </div>
</footer>
<noscript>Your browser does not support JavaScript!</noscript>
</html>